.venv/*
.env
__pycache__/*
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pot
*.mo
*.py[cod]
*$py.class
*.so
*.dylib
*.dll
*.swp
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/*
*.ipynb
.ipynb_checkpoints
*.ipynb_checkpoints/*
*.ipynb
.ipynb_checkpoints
